[submodule "BiOCamLib"]
	path = BiOCamLib
	url = ../BiOCamLib.git
	branch = main
	update = merge
[submodule "OpenBLAS"]
	path = OpenBLAS
	url = git@github.com:OpenMathLib/OpenBLAS.git
        ignore = dirty
[submodule "faiss"]
	path = faiss
	url = git@github.com:facebookresearch/faiss.git
        ignore = dirty
